
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Poppins;
  }
  html{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: gainsboro;
    display: flex;
    height: fit-content;
    justify-content: center;
  }
  body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    max-width: 1366px;
    background-color: white;
  }


  .button{
    background-color: #009245;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: white;
    width: fit-content;
    text-shadow: #333 1px 1px 1px;
    box-shadow: #333 1px 1px 5px;
    transition: .5s ease;
  }
  .button:hover{
    background-color: #00924599;
  }
  
  /*            header code             */          

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    color: white;
    position: absolute;
    width: 100%;
    background-color: #00000080;
    max-width: 1366px;
  }
  
  .logo a img{
    width: 7rem;
    height: fit-content;
  }
  
  nav {
    position: relative;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .nav-links li {
    margin-left: 2rem;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  nav ul li a.active {
    color: #ffffff99; /* Highlight color (gold in this case) */
}
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .menu-toggle span {
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .header-button{
    background-color: #009245;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: white;
    width: fit-content;
    text-shadow: #333 1px 1px 1px;
    box-shadow: #333 1px 1px 5px;
  }
  .header-button-mob{
    background-color: #009245;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: white;
    display:none;
    width: fit-content;
    text-shadow: #333 1px 1px 1px;
    box-shadow: #333 1px 1px 5px;
  }
  /* Mobile Styles */
  @media (max-width: 768px) {
    .nav-links {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 3rem;
      right: 0;
      background-color: #333;
      width: 20rem;
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
    }
  
    .nav-links.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
  
    .menu-toggle {
      display: flex;
    }
  
    .nav-links li {
      margin: 1rem 0;
      text-align: center;
    }
    .header-button{
      display: none;
    }
    .header-button-mob{
      display: block;
      margin: 0 2rem 0 auto;
    }
  }
  

  /*            Hero Section            */
  .hero{
    width: 100%;
    height: 90vh;
    background-image: url(resources/hero-background.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 4rem;

  }
  .hero h1{
    font-size: 3rem;
    line-height: 3rem;
    color: white;
    margin-bottom: 1rem;
    text-shadow: #333 1px 1px 1px;
  }
  .hero h2{
    color: #ccc;
    font-style: italic;
    text-shadow: black 1px 1px 1px;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .hero h1 span{
    color: #009245;
    font-size: 1.5rem;
  }
  .hero p{
    font-size: 1rem;
    color: gainsboro;
    width: 50%;
    margin-bottom: 1rem;
    text-shadow: #333 1px 1px 1px;
  }
  @media (min-width: 1366px) {
    .hero{
      height: fit-content;
      padding: 10rem 6rem;
    }
  }
  .founders-section{
    width: 100%;
    height: fit;
    display: flex;
    padding: 4rem 8rem;
    gap: 2rem;
    justify-content: flex-start;
  }
  
  .founders-section .content{
    display: flex;
    gap: 2rem;

  }
  .founders-section .content img{
    max-width: 20rem;
    min-width: 18rem;
    height: fit-content;
    border-radius: 1rem;
    
  }
  .founders-section .content .about-cta-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .founders-section .content .about-cta-container h1{
    font-size: 3rem;
    color: #333;
    line-height: 3.2rem;
  }
  .founders-section .content .about-cta-container h1 span{
    color: #009245;
    text-shadow: #333 1px 1px 1px;
  }
  @media (max-width: 1107px) {
    .founders-section{
      padding: 4rem 4rem;
    }
  }
  @media (max-width:1000px) {
    .founders-section .content .about-cta-container h1{
      font-size: 2.5rem;
      line-height: 2.5rem !important;
    }
  }
  @media (max-width: 885px) {
    .founders-section .content .about-cta-container h1{
      font-size: 2.2rem;
      line-height: 2.7rem;
    }
    .founders-section .content .about-cta-container p{
      font-size: .9rem;
    }
    .founders-section .content .about-cta-container, .founders-section .content{
      gap: 1rem;
      
    }
  }
  @media (max-width: 750px) {
    .founders-section{
      padding: 2rem 2rem;
    }
  }

  .cards-section-heading{
    width: 100%;
    padding: 2rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .cards-section-heading h1{
    color: #333;
    font-size: 3.5rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .cards-section-heading h1 span{
    color: #009245;
    text-shadow: #333 1px 1px 3px;
  }
  .cards-section-heading p{
    text-align: center;
    width: 100%;
    max-width: 50rem;
    font-size: 1rem;
    color: #333;
  }

  @media (max-width: 1107px) {
    .cards-section-heading{
      padding: 0rem 4rem;
    }
  }
  @media (max-width:1000px) {
    .cards-section-heading h1{
      font-size: 3rem;
      line-height: 3rem !important;
    }
  }
  @media (max-width: 885px) {
    .cards-section-heading h1{
      font-size: 2.5rem;
      line-height: 2.5rem !important;
    }
  }
  @media (max-width: 750px) {
    .cards-section-heading{
      padding: 2rem 2rem;
    }
  }
  .summary-cards-section{
    display: flex;
    padding: 2rem 8rem;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .summary-cards-section > *:first-child {
    /* Your styles here */
    background-image: url(resources/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .summary-cards-section > *:nth-child(2) {
    /* Styles for the second child */
    background-image: url(resources/10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  
  .summary-cards-section > *:nth-child(3) {
    /* Styles for the third child */
    background-image: url(resources/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  
.summary-cards-section .card{
    height: 25rem;
    position: relative;
    top: 0;
    border-radius: .5rem;
    flex: 1;
}
.summary-cards-section .card .card-overlay{
  background: rgba(0,0,0,0);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.87) 71%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(71%, rgba(0,0,0,0.87)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.87) 71%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.87) 71%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.87) 71%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.87) 71%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    -webkit-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.75);
}

.summary-cards-section .card .card-overlay h2{
    font-size: 2rem;
    color: #009245;
    line-height: 2rem;
}
.summary-cards-section .card .card-overlay p{
    font-size: .8rem;
    color: white; 
    font-style: italic;   
}

@media (max-width: 1107px) {
  .summary-cards-section{
    padding: 2rem 4rem;
  }
}
@media (max-width: 750px) {
  .summary-cards-section{
    padding: 2rem 2rem;
  }
}


.notice{
  width: 100%;
  padding: 4rem 8rem;
}
.notice h1{
  font-size: 3rem;
  color: #333;
  line-height: 3.2rem;
  margin-bottom: 2rem;
}
.notice h1 span{
  color: #009245;
  text-shadow: #333 1px 1px 1px;
}
.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.swiper-wrapper{
  width: 100% !important;
  margin-bottom: 3rem !important;
}
.swiper-slide {
  height: auto !important;
  font-size: 1rem;
  display: flex !important;
  gap: 2rem !important;
  justify-content: center;
  border: solid 2px #009245;
  padding: 2rem;
  border-radius: 1rem;
  width: 80% !important;
  flex-wrap: nowrap !important;
}

.swiper-slide img {
  flex: 1;
  max-width: 25rem;
  min-width: 18rem;
  height: fit-content;
  object-fit: cover;
  border-radius: .5rem;
  box-shadow: #333 1px 1px 5px;
}
.swiper-slide .slide-text{
  max-width: 25rem;
  min-width: 16rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.swiper-slide .slide-text h2{
  font-size: 2rem;
  color: #333;
  line-height: 2.2rem;
  margin: 0 !important;
}
.swiper-slide .slide-text p{
  width: 100;
}
.swiper-pagination {
  height: fit-content !important; 
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  gap: 2px !important; /* Space between bullets */
}

/* Style for pagination bullets */
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #ccc !important; /* Default bullet color */
  opacity: 1 !important; /* Ensure visibility */
  border-radius: 50% !important; /* Circular bullets */
  border: #009245 1px solid;
}

/* Active bullet styling */
.swiper-pagination-bullet-active {
  background-color: #009245 !important; /* Active bullet color */
  border: #009245 1px solid;
}

@media (max-width: 1030px) {
  .notice{
    padding: 2rem 4rem;
  }
  .swiper-slide {
    padding: 1.5rem 1rem !important;
    flex-wrap: wrap !important;
    gap: 1rem !important;
  }
  .slide-text{
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    width: 100% !important;
  }
  .slide-text h2{
    margin: 0 !important;
  }
}
@media (max-width: 750px) {
  .notice{
    padding: 0rem 2rem;
  }
}
@media (max-width: 690px) {
  .swiper-slide{
    height: fit-content !important;
  }

}

.library{
  width: 100%;
  height: fit-content;
  padding: 0 8rem 4rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center ;
}
.library h1{
  font-size: 3rem;
}
.library h1 span{
  color: #009245;
}
.book-container{
  display: flex !important;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  gap: 1rem;
}
.book-container img{
  flex: 1 !important;
  width: 15% !important;
  border-radius: .5rem !important;
  box-shadow: #333 1px 1px 5px !important;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 8rem;
  background-color: #333;
}
footer .top-section{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
footer .top-section > *{
  flex: 1;
  padding: 0rem 2rem;
  border-right: 1.5px solid gainsboro;
  max-width: 20rem;
  display: flex;
  justify-content: center;
}
footer .top-section > :last-child{
  border: none;
}

footer .top-section .logo{
  flex: 1;
}
footer .top-section img{
  width: 10rem;
  height: fit-content;
}
.top-section .site-map{
  display: flex;
  flex-direction: column;
}
.top-section .site-map a{
  color: gainsboro;
}
.top-section .contact-points{
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.top-section .contact-points .phone i, .top-section .contact-points .email i{
  margin-right: 1rem;
  font-size: 1.5rem; 
}
.top-section .contact-points .phone, .top-section .contact-points .email{
  font-size: .9rem;
  display: flex;
  align-items: center;
}
.top-section .contact-points .social-media{
  display: flex;
  gap: .1rem;
  margin-top: 2rem;
}
.top-section .contact-points .social-media i{
  font-size: 2.5rem;
}

footer .bottom-section{
  bottom: 0;
  width: 100vw;
  height: 4rem;
  background-color: #ffffff20;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: gainsboro;
  text-align: center;
}
@media (max-width: 1366px) {
  footer{
    padding: 0 4rem; 

  }
}